<%= form_for(@userprofile , :html => {:multipart => true} ) do |f| %>

  <% if @userprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this userprofile from being saved:</h2>

      <ul>
      <% @userprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.hidden_field :user_id %>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username , :placeholder => "Joe Doe"%>
    </div>
    
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location, :placeholder => "NYC, USA" %>
    </div>
    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio, :placeholder => "About 100 words describing you..." %>
    </div>
    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website , :placeholder => "Have a blog or a site? Publise it!" %>
    </div>
    <div>
        <%= f.label :avatar %><br />
       <%= f.file_field :avatar %> 
    </div>

    <div class="actions">
      <%= f.submit :class => "button" %>
    </div>
   <% end %>
