<div class="small-8 small-centered columns">
    <h1 class="large-12 columns">Your Profile</h1>
    <br>
    <table>
       <tr>
         <td><b>Username:</b></td>
         <td>
           <% if @userprofile.username.blank? %>
              Currently Blank, <%= link_to 'Update?', edit_userprofile_path(@userprofile) %>
            <% else %>
              <%= @userprofile.username %>
            <% end %>
         </td>
      </tr>

      <tr>
         <td><b>Location:</b></td>
         <td>
           <% if @userprofile.location.blank? %>
              Currently Blank, <%= link_to 'Update?', edit_userprofile_path(@userprofile) %>
            <% else %>
              <%= @userprofile.location %>
            <% end %>
         </td>
      </tr>
      <tr>
        <td><b>Bio:</b></td>
        <td>
          <% if @userprofile.bio.blank? %>
              Currently Blank, <%= link_to 'Update?', edit_userprofile_path(@userprofile) %>
          <% else %>
              <%= @userprofile.bio %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><b>Website:</b></td>
        <td>
         <% if @userprofile.website.blank? %>
               Currently Blank, <%= link_to 'Update?', edit_userprofile_path(@userprofile) %>
          <% else %>
               <%= @userprofile.website %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><b>Avatar:</b></td>
        <td>  <%= image_tag @userprofile.avatar_url(:thumb).to_s %></td>
      </tr>
  </table>

        <hr>
        <%= link_to 'Edit', edit_userprofile_path(@userprofile) , :class =>"button secondary" %> 
        <%= link_to 'Back', userprofiles_path , :class =>"button secondary" %>
    </div>
</div>


