<!-- start info bar -->
<div class="row display">
 
  <div class="small-3 columns left">
    <h3>
      <% if @instructions.previous_page %>
        <%= link_to "< Previous", params.merge(page: @instructions.previous_page),:class => "left " %>
      <% end %>
      &nbsp;
    </h3>
  </div>
  <div class="small-6 columns">
     Page <%= @instructions.current_page %> of <%= @instructions.total_pages %>
      <div class="progress ">
        <span id="progress" class="meter" style="width:<%= percent %>%"></span>
      </div>
  </div>
  <div class="small-3 columns right">
    <h3>
    <% if @instructions.next_page %>
        <%= link_to "next >", params.merge(page: @instructions.next_page),:class => "right"%>
      <% end %>
    </h3>
       
  </div>
</div>
<!-- end info bar -->
<% @instructions.each do |instruction| %>
    <h2><%= instruction.title %></h2>
    <p><%= instruction.content.html_safe %></p>
    <div><%= instruction.images %></div>
    <% if current_user && current_user.admin? %>
        <div><%= link_to 'Show', instruction %></div>
        <div><%= link_to 'Edit', edit_instruction_path(instruction) %></div>
        <div>
          <%= link_to 'Destroy', instruction, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
    <hr>
    <div class="small-7 columns small-centered">
      <a class="button secondary" href="/step/<%= @instructions.current_page %>">
        <h3>View user submitted images of this stage</h3>
      </a>
    </div>

<% end %>
<br />

<% if current_user && current_user.admin? %>
  <%= link_to 'New Instruction', new_instruction_path %>
<% end %>
