<!-- Content Slider -->

    <div class="row">
      <div class="large-12 hide-for-small">
        <!-- <div id="feature firstStop" data-orbit>
            <%= image_tag("main_1200x500.jpg", :alt => "completed skirt") %>  
            <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
            <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
        </div> -->
        <ul class="example-orbit" data-orbit>
          <li> 
            <%= image_tag("main_1200x500.jpg", :alt => "completed skirt") %> 
            <div class="carousel-caption text-center">
                    <h1>Let's make a skirt!</h1>
                    <p>Want to make an easy to follow custom made pattern, made exactly to your measurements? </p>
                    <p>
                    All you need to do is grab your tape measure and enter your <%= link_to "measurements", pattern_maker_path %> <br>
                    You will whip a circle skirt up in no time following our simple <%= link_to "instructions", instructions_path%>. <br>
                   </p><p> Visit the <%= link_to 'gallery', galleries_path%> to see examples of other users skirts. </p>   
                   <p>It's as easy as Pi!</p>
                 
            </div>
          </li> 
          <li> 
            <%= image_tag("main_1200x500.jpg", :alt => "completed skirt") %> 
          </li> 
          
      </ul>
    </div>
  </div>


  <!-- End Content Slider -->

  <!-- Mobile Header -->

    <div class="row">
      <div class="large-12 columns show-for-small">
        <%= image_tag("main_510x300.jpg", :alt => "completed skirt") %>
      </div>
    </div><br>

  <!-- End Mobile Header -->
<hr>
<h2 class="text-center">User Gallery</h2>
<h3 class="text-center">Below are user submitted images</h3>

<div class="row"  >
  <div class="large-12 columns">
    <div class="row">
  	<!-- Thumbnails -->
      <div class="large-3 small-6 columns">
        <%= image_tag("thumb_med_eqzoom85.ms.jpeg", :alt => "completed skirt") %>
        <h6 class="panel">Finished Half Circle skirt</h6>
      </div>

      <div class="large-3 small-6 columns">
         <%= image_tag("thumb_med_images.jpg", :alt => "completed skirt") %>
        <h6 class="panel">Lovely grey linen skirt</h6>
      </div>

      <div class="large-3 small-6 columns">
        <%= image_tag("thumb_med_images2.jpg", :alt => "completed skirt") %>
        <h6 class="panel">Just finished my navy skirt. I am very happy with it.</h6>
      </div>

      <div class="large-3 small-6 columns">
        <%= image_tag("thumb_med_Navy_circle_skirt_.JPG", :alt => "completed skirt") %>
        <h6 class="panel">Making the finishing touches.</h6>
      </div>
  <!-- End Thumbnails -->
    </div>
  </div>
</div>

<!-- <a class="" href="#"></a> -->

<%= link_to 'See More', galleries_path,:class =>"large button expand" %>

<!-- Tour Buttons --> 
<ol class="joyride-list" data-joyride> 
  <li data-id="firstStop" data-text="Next" data-options="tip_location:bottom;tip_animation:fade"> 
    <p>Hello and welcome to easy as pi, watch the video to find more...</p> 
  </li> 
  <li data-id="step1" data-class="custom so-awesome" data-text="Next">  
    <h4>Stop #1</h4> 
    <p>See what other lovely visitors to the site have made.</p> 
  </li> 
  <li data-id="step2" data-button="Next" data-options="tip_location:top;tip_animation:fade"> 
    <h4>Stop #2</h4> 
    <p>Like the look of what you see? Go sign in or go directly to the pattern maker.</p> 
  </li> 
</ol>

<script>
$(document).foundation('joyride', 'start');
</script>



 