<%title "Patter Maker"%>
  <!-- start form -->
  <h1><% yield(:title) %></h1>
  <div class="small-8 small-centered columns">
    <div class="content">
    <form id="dress">
      <div id="firstgo">
        <h5>Grab your measuring tape &amp; enter your measurements</h5>
        <h5 class="subheader">( Be honest )</h5>
        <div class="row collapse"> <!-- << this lets form collaspe on resize -->
          <!-- units -->
          <div class="large-2 columns">
            <label class="inline">Units:</label>
          </div>
          <div class="large-10 columns">
              <select id="units" name="units" required="required" class="medium">
                <option value="Centimeters">Centimeters</option>
                <option value="Inches">Inches</option>
              </select>
          </div>
        </div>
        <div class="row collapse">
          <!-- skirt -->
          <div class="large-2 columns">
            <label class="inline">Skirt type:</label>
            <a href="#" data-reveal-id="modal_skirt" class="">?</a>  
          </div>
          <div class="large-10 columns"> 
              <select id="skirt_type" name="skirt_type" required="required" class="medium">
                <option value="full">Full Circle</option>
                <option value="half">Half Circle</option>
              </select>
          </div>
        </div>
        <br>
        <div class="row collapse">
           <!-- Waist -->
          <div class="large-2 columns">
            <label for="waist">Waist: </label>
            <a href="#" data-reveal-id="modal_waist" class="">?</a>          
          </div>
         

          <div class="large-10 columns">
            <input type="number" min="0" id="waist" name="waist" required="required" />
          </div>
        </div>
        <div class="row collapse">
          <!-- Length -->
          <div class="large-2 columns">
              <label for="length">Length: </label>
               <a href="#" data-reveal-id="modal_length" class="">?</a>
          </div>
          <div class="large-10 columns">
             <input type="number"  min="0" id="length" name="length" required="required" />
          </div>
        </div>
        <button type='submit'>Try it</button>
      </div>
        <div id="tryagain" class="hide text-center">
          <a href="#" class="button secondary ">Try again </a>
        </div>
    </form>
    </div>
   </div>
    <!-- end form -->
    <!-- info msg -->
    <div class="row collapse">
      <div class="hide" id="displaymsg">
       <div  class="alert-box text-center large-6 columns">  </div> 
      </div>
      <div id="infomsg" class="hide">
        <table class="large-4 columns right">
          <tr>
            <th colspan="2">Take Note, Important Numbers:</th>
          </tr>
          <tr>
            <td>Waistband Width:</td>
            <td id="waistband_width"</td>
          </tr>
          <tr>
            <td>Waistband Lenght:</td>
            <td id="waistband_lenght"></td>
          </tr>
          <tr>
            <td>Inner Radius:</td>
            <td id="r1" ></td>
          </tr>
          <tr>
            <td>Outer Radius:</td>
            <td id="r2"></td>
          </tr>
        </table> 
      </div>
    </div>
    
    <!-- end info msg --> 
    <hr>
    <!-- start canvas -->
    <div class="hidden">
      <!-- canvas 1 -->
      <div id="c1" class="hide">
        <div class="panel callout text-center">
          <h4>Bolt width 150cm</h4>
          <h5>Length of fabric required:</h5>
          <p id="C1lenght"></p>
        </div>
        <canvas id="Canvas1" width="0" height="0" style="border:1px solid #cccccc;"></canvas><br/>
      </div>
       <!-- canvas 2 -->
      <div id="c2" class="hide">
        <div class="panel callout text-center">
          <h4>Bolt width 115cm</h4>
          <h5>Length of fabric required:</h5>
          <p id="C2lenght"></p>
        </div>
        <canvas id="Canvas2" width="0" height="0" style="border:1px solid #cccccc;"></canvas><br/>
       </div>
       <!-- canvas 3 -->
      <div id="c3" class="hide">
         <div class="panel callout text-center">
            <h4>Bolt width 90cm</h4>
            <h5>Length of fabric required:</h5>
            <p id="C3lenght"></p>
          </div>
        <canvas id="Canvas3" width="0" height="0" style="border:1px solid #cccccc;"></canvas>
        <hr>
      </div>

      <div class="panel callout text-center hide">
        <h4></h4>
        <h5></h5>
        <p> </p>
      </div>
    <div>
      <%= simple_form_for(@skirtpattern) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :makepattern %>
          <%= f.hidden_field :unit %>
          <%= f.hidden_field :skirt_type %>
          <%= f.hidden_field :waist %>
          <%= f.hidden_field :length %>
          <%= f.hidden_field :canvas1 %>
          <%= f.hidden_field :canvas2 %>
          <%= f.hidden_field :canvas3 %>
          <%= f.hidden_field :inner_radius %>
          <%= f.hidden_field :outer_radius %>
          <%= f.hidden_field :waistbandLgth %>
          <%= f.hidden_field :waistbandWdth %>
        </div>

        <div id="save" class="form-actions hide" >
          <%= f.button :submit, 'Save Pattern' %>
        </div>
      <% end %>
    </div>
    <div id="modal_skirt" class="reveal-modal small" data-reveal="" style="display: none; opacity: 1; visibility: hidden;">
      <p>A full circle skirt is ...</p> 
      <p>A half circle skirt is ...</p> 
      <a class="close-reveal-modal">×</a>
    </div>
    <div id="modal_length" class="reveal-modal small" data-reveal="" style="display: none; opacity: 1; visibility: hidden;">
      <h3>How to determine your skirt length:</h3>
      <p>Start from where you have choosen the waistline to start and end where you want it to finish</p>
      <img src="/uploads/site/measure_info.jpg">
      <a class="close-reveal-modal">×</a>
    </div>
    <div id="modal_waist" class="reveal-modal small" data-reveal="" style="display: none; opacity: 1; visibility: hidden;">
      <h3>How to measure your waist:</h3>
      <img src="/uploads/site/measure_info.jpg">
      <a class="close-reveal-modal">×</a>
    </div>