<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @supply.name %>
</p>

<p>
  <b>Bought:</b>
  <%= @supply.bought %>
</p>


<%= link_to 'Edit', edit_supply_path(@supply) %> |
<%= link_to 'Back', supplies_path %>
