<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @skirtpattern.user_id %>
</p>

<p>
  <b>Makepattern:</b>
  <%= @skirtpattern.makepattern %>
</p>

<p>
  <b>Unit:</b>
  <%= @skirtpattern.unit %>
</p>

<p>
  <b>Skirt type:</b>
  <%= @skirtpattern.skirt_type %>
</p>

<p>
  <b>Waist:</b>
  <%= @skirtpattern.waist %>
</p>

<p>
  <b>Length:</b>
  <%= @skirtpattern.length %>
</p>

<p>
  <b>Canvas1:</b>
  <%= @skirtpattern.canvas1 %>
</p>

<p>
  <b>Canvas2:</b>
  <%= @skirtpattern.canvas2 %>
</p>

<p>
  <b>Canvas3:</b>
  <%= @skirtpattern.canvas3 %>
</p>

<p>
  <b>Inner radius:</b>
  <%= @skirtpattern.inner_radius %>
</p>

<p>
  <b>Outer radius:</b>
  <%= @skirtpattern.outer_radius %>
</p>

<p>
  <b>Waistbandlgth:</b>
  <%= @skirtpattern.waistbandLgth %>
</p>

<p>
  <b>Waistbandwdth:</b>
  <%= @skirtpattern.waistbandWdth %>
</p>


<%= link_to 'Edit', edit_skirtpattern_path(@skirtpattern) %> |
<%= link_to 'Back', skirtpatterns_path %>
