<!-- <p id="notice"><%= notice %></p> -->
<h1>Your saved pattern </h1>
<div class="row">
  <div class="small-6 columns left">
    <p>
      <b>User:</b>
      <%= @skirtpattern.user_id %>
    </p>

    <p>
      <b>Makepattern:</b>
      <%= @skirtpattern.makepattern %>
    </p>

    <p>
      <b>Unit:</b>
      <%= @skirtpattern.unit %>
    </p>

    <p>
      <b>Skirt type:</b>
      <%= @skirtpattern.skirt_type %>
    </p>

    <p>
      <b>Waist:</b>
      <%= @skirtpattern.waist %>
    </p>

    <p>
      <b>Length:</b>
      <%= @skirtpattern.length %>
    </p>

    <p>
      <b>Canvas1:</b>
      <%= @skirtpattern.canvas1 %>
    </p>

    <p>
      <b>Canvas2:</b>
      <%= @skirtpattern.canvas2 %>
    </p>

    <p>
      <b>Canvas3:</b>
      <%= @skirtpattern.canvas3 %>
    </p>

    <p>
      <b>Inner radius:</b>
      <%= @skirtpattern.inner_radius %>
    </p>

    <p>
      <b>Outer radius:</b>
      <%= @skirtpattern.outer_radius %>
    </p>

    <p>
      <b>Waistbandlgth:</b>
      <%= @skirtpattern.waistbandLgth %>
    </p>

    <p>
      <b>Waistbandwdth:</b>
      <%= @skirtpattern.waistbandWdth %>
    </p>
    </div>
  <div class="small-6 columns right">

    <%= render "shared/advertisment" %>
   
  </div>
</div>
<hr>
<div class="row">
  <%= link_to "Go to Instructions", instructions_path ,:class=> "button" %>
  <%= link_to 'Edit', edit_skirtpattern_path(@skirtpattern),:class=> "button"  %> |
  <%= link_to 'Back', skirtpatterns_path ,:class=> "button" %>
</div>