<h2>All User submitted images</h2>
<hr>

<!-- 
<%= javascript_tag do %>
  window.galleriesURL = "<%=j galleries_url %>"; 
  window.galleries = <%=raw Gallery.limit(10).to_json %>;
<% end %>


<%= content_tag "div", id: "galleries", data: {galleries: Gallery.limit(10)} do %>
  <div id="loading"> 
    <img src="http://www.wingshootingusa.org/2012/Images/loading_transparent.gif">
    Loading gallery...
  </div>
  <p>
    image: <span id="image"></span><br /> 
    image_comment: <span id="image_comment"></span><br /> 
    submitted_by: <span id="submitted_by"></span><br /> 
    created_at: <span id="created_at"></span><br /> 
  </p>
<% end %>
n -->
<% @galleries.each do |gallery| %>
  <div class="large-3 small-6 columns">
      <%= image_tag gallery.image_url(:thumb_med).to_s %>
  
        <div id="gallery" class = "panel">
          <h5><%= gallery.image_comment %></h5>
          <p>Submitted by: <i><%= gallery.submitted_by %></i> </p>
          <p>Step: <%= gallery.step %></p>
          <p>Uploaded on: <%= gallery.created_at.strftime("%d %b %Y %H:%M") %></p>
          <%= link_to 'See More', gallery , :class=>"button secondary text-center"%>
          <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_gallery_path(gallery) %>
            <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
    
  </div>

<% end %>

<hr>
<div>

<div class="large-6 small-12 columns">
  <% if user_signed_in? %>
    <%= link_to 'Add Image of your Progress', new_gallery_path, :class => "button"%>
   <% else %>
    <p>Hey, Stranger...</p>
    <%= link_to 'Register', new_user_registration_path, :class => "button secondary" %> 
    <%= link_to 'Sign in', new_user_session_path , :class => "button secondary"%>
   <% end %>
</div>

<div class="large-6 small-12 columns">
   <%= render "shared/advertisment" %>
</div>
 </div>
 