<div class="small-8 small-centered columns">
   <div class="large-12 small-6 columns">
     
      <div id="gallery" class = "panel">
      	<div class="text-center">
      		<%= image_tag @gallery.image_url%>
      	 	<h5><%= @gallery.image_comment %></h5>
      	</div>
       
        <p>Submitted by: <i><%= @gallery.submitted_by %></i> </p>
        <p>Step: <%= @gallery.step %></p>
        <p>Uploaded on: <%= @gallery.created_at.strftime("%d %b %Y %H:%M") %></p> 
  </div>
<hr>
<%= link_to "Back", :back %>